body {
 background: url('../images/Background.jpg') fixed center;
 background-size: cover;
 font: 14px Verdana;
 color: #FFF;

}

a:link {
    color: #FF0000;
}

.descriptions {
  text-align: center;
}
.descriptions div {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  text-align: left;
  max-width: 330px;
  height: 250px;
  padding: 10px;
}

.materials {
  text-align: center;
}

.materials div {
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  text-align: left;
  width: 300px;
  height: 250px;
  padding: 10px;
  margin-top: 50px;
}

.desc {
  font: 15px Verdana;
  border-style: solid;
  border-width: 5px;
  border-color: #FFF;
  height: 300px
}

