body {
 font: 14px Verdana;
 color: #000;
 margin: 0;
}

a:link {
    color: #FF0000;
}

.background {
  height: 500px;
  background: url('../images/Background.jpg') fixed center;
  background-size: cover;
}

.content {
  background-color: white;
  font: 15px Verdana;
  height: 100%;
  text-align: center;
}

.content .desc {
  display: inline-block;
  text-align: left;
  position: relative;
  width: 30%;
  height: 250px;
  padding: 3px;
}

.header {
  height: 200px;
  margin-top: 0;
}

.h1 {
 margin: 0;
}

/*.descriptions {
  text-align: center;
}
.descriptions div {
  display: inline-block;
  text-align: left;
  position: relative;
  width: 30%;
  height: 250px;
  padding: 3px;
  margin-top: 50px;
}

.materials {
  text-align: center;
}

.materials div {
  display: inline-block;
  text-align: left;
  width: 300px;
  height: 250px;
  padding: 10px;
  margin-top: 50px;
}*/
/*
.desc {
  font: 15px Verdana;
  border-style: solid;
  border-width: 5px;
  border-color: #FFF;
  height: 300px
}
*/