body {
  font: 14px Verdana;
  color: #000;
  margin: 0;
  background: url('../images/Background.jpg') fixed center;
}

a:link {
  color: #FF0000;
}

.background {
  height: 500px;
  background: url('../images/Background.jpg') fixed center;
  background-size: cover;
}

.content {
  background-color: rgba(255,255,255,0.3);
  font: 15px Verdana;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content .desc {
  background-color: white;
  text-align: left;
  position: relative;
  width: 30%;
  height: 250px;
  padding: 8px;
  margin:40px 20px 40px 20px;
}

h1 {
  margin-top: 30px;
  color: #e82825;
}

.header {
  background-color: white;
  color: #e82825;
  height: 200px;
  margin-top: 0;
  text-align: center;
  position: relative;
}

.header h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header div{
  display: inline-block
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 150px;
  width: 150px;
}
